.gornji_logo {
  background-color: #1986aa;
  height: 130px;
}

.donji_logo {
  background-color: #1986aa;
  height: 20px;
}

.kontejner {
  height: auto;
  max-width: 600px;
  margin: auto;
}
.slika{
  max-width: 250px;
  border: 2px solid black;
}
.donji_logo {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1986aa;
  color: white;
  padding: 20px;
}

.siroko {
  width: 100%;
}


.labelaAtributa:first-letter, .form-check-label:first-letter {
  text-transform: uppercase;
}

.loading-spinner-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}